/***************
  HTML Styles
***************/
body {
  background-color: #fcfcfc;
}

p.box {
  padding: 20px;
}
p {
  color: rgba(0, 0, 0, 0.71);
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6 {
  -webkit-font-smoothing: antialiased;
}

nav {
  // background-color: color("materialize-red", "lighten-2");

  a {
    -webkit-font-smoothing: antialiased;
  }
}
/********************
  Index Page Styles
********************/

// custom styled sidebar
ul.side-nav.fixed li.logo {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 16px;
  border-bottom: 1px solid #ddd;

  &:hover {
    background-color: transparent;
  }
}
ul.side-nav.fixed {
  overflow: hidden;

  li {
    line-height: 44px;

    &:hover, &.active {
      background-color: rgba(0,0,0,.05);
    }

    a {
      font-size: 13px;
      line-height: 44px;
      height: 44px;
    }
  }

  ul.collapsible-accordion {
    background-color: #FFF;
  }

  // Only show scrollbar on hover
  &:hover {
    overflow-y: auto;
  }
}

.bold > a {
  font-weight: bold;
}

#logo-container {
  height: 57px;
  margin-bottom: 32px;
}

nav.top-nav {
  /*height: 122px;
  box-shadow: none;*/

  a.page-title {
    line-height: 122px;
    font-size: 48px;
  }
}
a.button-collapse.top-nav {
  position: absolute;
  text-align: center;
  height: 48px;
  width: 48px;
  left: 7.5%;
  top: 0;
  float: none;
  margin-left: 1.5rem;
  color: #fff;
  font-size: 32px;
  z-index: 2;

  &.full {
    line-height: 122px;
  }
}


#front-page-logo {
  display: inline-block;
  height: 100%;
  pointer-events: none;
}

#calendar-container {
  padding-top: 10px;
}
