$break-small: 600px;
$break-large: 992px;

@media (min-width: $break-small) and (max-width: $break-large){
  form {
    margin-top: 25%;
  }
}
@media (min-width: $break-large ) {
  form {
    margin-top: 20%;

  }
}